.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.lunbo {
    margin-top: 45px;
}
.FlexBox {
    height: 100px;

    .flexItem {
        text-align: center;
        font-size: 12px;

        img {
            width: 50px;
        }
    }
}

.zfxzBox {
    background-color: #f6f5f6;
    padding: 20px 10px 20px 20px;
}

.Grid {
    background-color: #f6f5f6;
    padding: 0px 0px 0px 10px;
    .am-flexbox-align-stretch {
        background-color: #f6f5f6 !important;
    }
    .am-grid-item {
        margin: 0px 12.5px 12.5px 0px;
    }
    .zfxzList {
        display: flex;
        justify-content: space-between;
        padding: 12.5px;
        .left {
            padding: 0px 0 0 10px;
            h4 {
                margin-top: 24px;
                margin-bottom: 4px;
            }
            p {
                color: #666
            }
        }
        .right {
            margin-top: 6px;

            img {
                height: 70px;
                vertical-align: middle;
            }
        }
    }
}

.axBox {
    margin-top: 10px;
    margin-bottom: 50px;
    .title {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .Card {
        display: flex;
        justify-content: space-between;
        .left {
            img {
                height: 100px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footer {
                display: flex;
                justify-content: space-between;
                color: #666;
            }
        }
    }

}