html,
body {
  height: 100%;
  color: #333;
  background-color: #fff;
}
* {
  touch-action: none;
}
#root,
.App {
  height: 100%;
}
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style-type: none;
}
